<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>

      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="{{ site.baseurl }}">
        Startseite
      </a>

      <details class="sidebar-group">
        <summary class="sidebar-nav-item">
          Bergsteigen
        </summary>

        <div class="sidebar-subnav">
          <a href="{{ site.baseurl }}bergsteigen/touren/">
            Touren
          </a>

          <a href="{{ site.baseurl }}bergsteigen/projekte/">
            Projekte
          </a>
        </div>
      </details>

      <a class="sidebar-nav-item" href="{{ site.baseurl }}schneidern/">
        Schneidern
      </a>

      <a class="sidebar-nav-item" href="{{ site.baseurl }}verschiedenes/">
        Verschiedenes
      </a>

    </nav>

    <p>
      &copy; {{ site.time | date: '%Y' }} Das Register
    </p>

  </div>
</div>
